root = true

[*]
end_of_line = lf
tab_width   = 8
indent_size = 2
indent_style = tab
insert_final_newline = true
charset = utf-8

[*.md]
tab_width = 4
indent_style = space
insert_final_newline = true

[*.html]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.toml]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
