{{ if .Site.Params.maciaindieweb.webmention}}<link rel="webmention" href="{{.Site.Params.maciaindieweb.webmention}}" />{{end}}
{{ if .Site.Params.maciaindieweb.pingback}}<link rel="pingback" href="{{.Site.Params.maciaindieweb.pingback}}" />{{end}}
{{ if .Site.Params.maciaindieweb.micropub}}<link rel="micropub" href="{{.Site.Params.maciaindieweb.micropub}}" />{{end}}
{{ if .Site.Params.maciaindieweb.microsub}}<link rel="microsub" href="{{.Site.Params.maciaindieweb.microsub}}" />{{end}}
{{ if .Site.Params.maciaindieweb.authorization_endpoint}}<link rel="authorization_endpoint" href="{{.Site.Params.maciaindieweb.authorization_endpoint}}" />{{end}}
{{ if .Site.Params.maciaindieweb.token_endpoint}}<link rel="token_endpoint" href="{{.Site.Params.maciaindieweb.token_endpoint}}" />{{end}}
