{{ if .Site.Params.maciawebmention.webmention}}<link rel="webmention" href="{{.Site.Params.maciawebmention.webmention}}" />{{end}}
{{ if .Site.Params.maciawebmention.pingback}}<link rel="pingback" href="{{.Site.Params.maciawebmention.pingback}}" />{{end}}
{{ if .Site.Params.maciawebmention.micropub}}<link rel="micropub" href="{{.Site.Params.maciawebmention.micropub}}" />{{end}}
{{ if .Site.Params.maciawebmention.microsub}}<link rel="microsub" href="{{.Site.Params.maciawebmention.microsub}}" />{{end}}
{{ if .Site.Params.maciawebmention.authorization_endpoint}}<link rel="authorization_endpoint" href="{{.Site.Params.maciawebmention.authorization_endpoint}}" />{{end}}
{{ if .Site.Params.maciawebmention.token_endpoint}}<link rel="token_endpoint" href="{{.Site.Params.maciawebmention.token_endpoint}}" />{{end}}
