{{ if .Site.Params.macia-webmention.webmention}}<link rel="webmention" href="{{.Site.Params.macia-webmention.webmention}}" />{{end}}
{{ if .Site.Params.macia-webmention.pingback}}<link rel="pingback" href="{{.Site.Params.macia-webmention.pingback}}" />{{end}}
{{ if .Site.Params.macia-webmention.micropub}}<link rel="micropub" href="{{.Site.Params.macia-webmention.micropub}}" />{{end}}
{{ if .Site.Params.macia-webmention.microsub}}<link rel="microsub" href="{{.Site.Params.macia-webmention.microsub}}" />{{end}}
{{ if .Site.Params.macia-webmention.authorization_endpoint}}<link rel="authorization_endpoint" href="{{.Site.Params.macia-webmention.authorization_endpoint}}" />{{end}}
{{ if .Site.Params.macia-webmention.token_endpoint}}<link rel="token_endpoint" href="{{.Site.Params.macia-webmention.token_endpoint}}" />{{end}}
